<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

<div class="container course-column-box">
    <div class='row course-name-row'>
        <div id="course-name"><%= link_to course.name, course, class:'btn course-name-button' %></div>
    </div>
    
    <% group = findGroup(@student, course) %>
    <% if group.nil? %>
        <div class='not-assigned-text'>
            <h6>You have not been assigned to a team</h6>
        </div>
    <% else %>
        <div class='profile-group-row' >
            <p class='profile-group-pre'>You are currently on team:    </p>
            <h5 class='profile-group-name'><%= group['project_name'] %></h5>
            <p class="group-icon"><a href="#">show members</a></p>
            
        </div>

        <div>
            <% group_members = group.students%>
            <div class = "wrapper overflow group-container">
                <table class = "table table-hover table-sm member-table" id='member-table'>
                    <thead>
                        <tr>
                            <th style='border-top: 0'>Name</th>
                            <th style='border-top: 0'>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% group_members.each do |stu| %>
                        <tr>
                            <td><%= stu.firstname + " " + stu.lastname%>
                            <td><%= stu.email%>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        
    <% end %>
    <div class='row course-drop-row'>
        <div id="course-drop-button">
        <%= link_to drop_course_student_path(student_id: @student.id, course_id: course.id), method: :delete, data: { confirm: 'Are you sure you want to drop this course?' } do %>
        <button class="btn btn-outline-primary dropButton"><i class="fas fa-minus-circle"></i> Drop course</button>
        <% end %>
        </div>
    </div>
</div>

<script>

    
</script>