<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  Courses:
  <ul>
    <div class="field">
      <%= form.fields_for :courses do |courses_form|%>
        <li>
          <%= courses_form.label :name %>
          <%= courses_form.text_field :name%>
          Delete? <%= courses_form.check_box :_destroy %>
        </li>
      <% end %>
    </div>
  </ul>

  Add a course:
  <div>
    <%= form.label :PIN %>
    <%= form.text_field :PIN%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
