<h1 style="margin-top: 30px; color: rgb(0,52,120); margin-left: 130px">New Student</h1>
<div class="row" style="margin: 0px; margin-bottom: 10px">
<div class="col-md-6 col-md-offset-3" style="padding-left: 100px">
    <%= form_with(model: student, local: true) do |form| %>
      <% if student.errors.any? %>
        <div id="error_explanation">
          <p><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</p>
          <ul>
            <% student.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form.label :First_name , style:"margin-bottom: 0px"%>
      <%= form.text_field :firstname, class: 'form-control' , style:"width:300px; margin-bottom: 10px"%>
      
      <%= form.label :Last_name , style:"margin-bottom: 0px"%>
      <%= form.text_field :lastname, class: 'form-control', style:"width:300px; margin-bottom: 10px" %>

      <%= form.label :email, style:"margin-bottom: 0px" %>
      <%= form.email_field :email, class: 'form-control' , style:"width:300px; margin-bottom: 10px"%>
      
      <%= form.label :password, style:"margin-bottom: 0px" %>
      <%= form.password_field :password, class: 'form-control', style:"width:300px; margin-bottom: 10px" %>
      <%= form.label :password_confirmation, "Confirmation" , style:"margin-bottom: 0px"%>
      <%= form.password_field :password_confirmation, class: 'form-control', style:"width:300px; margin-bottom: 10px" %>
      <br>
      <%= form.submit "Create Student Account", class: "btn btn-outline-primary signup-Button", style: "width:300px"%>
    <%end%>
  </div>
</div>
