<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @student.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Courses:</strong>
  <% @courses.each do |course|%>
    <td> <%= link_to course.name, course %> </td>
  <%end%>
</p>

<p>
  <strong>Groups:</strong>
  <% @groups.each do |group|%>
    <td> <%= link_to group.project_name, group %> </td>
  <%end%>
</p>

<% add_course_path = @student.id.to_s+ "/add_course" %>
<%= link_to 'Add new course', add_course_path%>
<br> <br>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
