<body class='view4'>
  <div class='container profile-container'>
    <% if notice%>
      <div class="alert alert-success">
        <%= notice %>
      </div>
    <% end %>
      <div class='row profile-row'>
        <div class='col profile-column'>
          <div class='row'>
            <div class='column'>
              <span class="fa-stack fa-3x">
                <i class="fas fa-circle fa-stack-2x" id="profile-icon"></i>
                <i class="fas fa-user-graduate fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class='column'>
              <p class='profile-name'><%= @student.firstname%> <%=@student.lastname %></p>
              <p class='profile-email'><%= @student.email %></p>
              <%= link_to 'Edit Account', edit_student_path(@student) %>
            </div>
          </div>
        </div>
        <div class='col profile-button-column'>
          <% add_course_path = @student.id.to_s+ "/add_course" %>
          <div id="add-course-button">
            <%= link_to add_course_path, remote: true do %>
              <button class="btn btn-outline-primary addButton"><i class="fas fa-plus"></i> Add new course</button>
            <% end %>
          </div>
        </div>
      </div>

      <hr/>
      <div class = "courses-info-row" id="students-course-info-row">
        <%= render partial: 'course', collection: @courses%>
      </div>

      <div>
      </div>
  </div>
</body>

<script>

</script>
