<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @course.nil?%>
    <div class="field">
      <%= form.number_field :course_id, class: "form-control textarea editbox-stu" %>
    </div>
  <% else %>
    <div class="field">
      <%= form.hidden_field :course_id, :value => @course.id %>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :project_name, class: "form-control textarea editbox-stu", placeholder: "Project name"%>
  </div>

  <div class="field">
    <%= form.text_field :description, class: "form-control textarea editbox-stu", placeholder: "Description"%>
  </div>

  <div class="actions">
    <%= form.submit  "Add New Project", class: "btn btn-outline-primary addProjectBtn-stu"%>
  </div>
<% end %>
