<p id="notice"><%= notice %></p>

<h1>Groups</h1>
<%if current_user_type == "professor" ||current_user_type == "student"then%>
<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Project name</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <% if group.hold== false then%>
      <tr>
        <td><%= group.course_id %></td>
        <td><%= group.project_name %></td>
        <td><%= group.description %></td>
        <!--<td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
<%else%>
      <p style="font-size:160%;">This information is hidden from visitors </p>
<%end%>
<br>

<!--<%= link_to 'New Group', new_group_path %>-->
