<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @group.course_id %>
</p>

<p>
  <strong>Project name:</strong>
  <%= @group.project_name %>
</p>  
<p>
  <% description = @group.description %>
</p>
<% vfirst = @group.vfirst %>
<% vsecond = @group.vsecond%>
<% vthird = @group.vthird%>

<p>

</p>



<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
