<h1 style="margin-top: 30px; margin-left:80px; color: rgb(0,52,120)">New Professor</h1>
<div class="row" >
<div class="col-md-6 col-md-offset-3">
<%= form_with(model: professor, local: true) do |form| %>
  <% if professor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(professor.errors.count, "error") %> prohibited this professor from being saved:</h2>

      <ul>
        <% professor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :First_name %>
  <%= form.text_field :firstname, class: 'form-control' %>

  <%= form.label :Last_name %>
  <%= form.text_field :lastname, class: 'form-control' %>

  <%= form.label :email %>
  <%= form.email_field :email, class: 'form-control' %>
  
  <%= form.label :password %>
  <%= form.password_field :password, class: 'form-control' %>
  <%= form.label :password_confirmation, "Confirmation" %>
  <%= form.password_field :password_confirmation, class: 'form-control' %>
  <br>
  <%= form.submit "Create Professor Account", class: "btn btn-primary" %>
<% end %>
</div>
</div>

