<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @professor.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @professor.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @professor.email %>
</p>

<p>
  <strong>Courses:</strong>
  <% @courses.each do |course|%>
    <td> <%= link_to course.name, course %> </td>
  <%end%>
</p>

<button>add new course</button>
<br> <br>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
