<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= simple_form_for @preference do |f| %>
        <%= f.input :first, label: 'First choice', hint: 'Enter the project name', error: 'Choice is mandatory, please specify one' %>
        <%= f.input :second, label: 'Second choice' %>
        <%= f.input :third, label: 'Third choice'%>
        <%= f.input :codingProficiency, label: 'Coding profiency', as: :range, input_html: { step: 10 } %>
        <%= f.button :submit, class: "btn-primary" %>
        <%= f.button :button, "Cancel", type: "reset", class: "btn-primary" %>
    <% end %>
  </div>
</div>





