<div class='container' id='new-preference-container-1' style="margin-top: 60px">
<h2> CURRENT COURSE: <%= @course.name %> </h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @preference, local: true)do |f| %>
        <%= f.label 'First Choice'%>
        <%= f.collection_select :first, @projects.order(:project_name), :project_name, :project_name, include_blank: true%>
        <br><br>
        <%= f.label 'Second Choice'%>
        <%= f.collection_select :second, @projects.order(:project_name), :project_name, :project_name, include_blank: true %>
        <br><br>
        <%= f.label 'Third Choice'%>
        <%= f.collection_select :third, @projects.order(:project_name), :project_name, :project_name, include_blank: true %>
        <br><br>
        <%= f.label 'Coding Proficiency' %>
        <%= f.search_field :codingProficiency, type: "range", class:"form-control ", min:"0" , max:"10"%>
        <p style="color: darkgrey;">from 0 to 10</p>
        <br>
        <%= f.label 'Dream Partner'%>
        <%= f.search_field :dreampartner, id:"dreampartner"%>
        <br>
        <%= f.label 'Select Your Free Time for Group Meeting'%>
        <div class="input-group mb-3">
          <i class="far fa-calendar-alt "></i>
          <%= f.search_field :schedule, class:"form-control showCalendar", id:"fullcalendar"%>

        <div class="container m-t-20">
            <div id="outline">
              <div id = 'calendarForm'>
                <div id = 'calendar'></div>
                <div class='btn btn-primary submitCalendar'> submit </div>
              </div>
            </div>
          </div>  


        <%= f.hidden_field :student_id, :value => current_user.id%>
        <%= f.hidden_field :course_id, :value => @course.id%>

        <br><br>
        
        <%= submit_tag("Submit", class: "btn btn-outline-primary") %>
       
        <button class="btn btn-primary" type="reset">Cancel</button>
        </div>   
    <% end %>

  </div>
 
</div>
</div>


  
<script>
$(document).ready(function(){
  $("#calendarForm").hide();
  var calendar = null;
  var freeTime = [];
  var submitArray = [];
  $('.showCalendar').click(function (){ 
    $("#calendarForm").slideToggle();
    var calendarEl = document.getElementById('calendar');
    if(calendar){
        calendar.destroy();
        freeTime = [];
    }
    var eventList = new Array();
    calendar = new Calendar(calendarEl, {
        plugins: [ timeGridPlugin, momentPlugin, interactionPlugin, bootstrapPlugin],
        themeSystem: 'bootstrap',
        defaultView: 'timeGridWeek',
        columnHeaderFormat: 'ddd', 
        minTime: "08:00:00", 
        maxTime: "19:00:00",
        header:false,
        allDaySlot: false,
        selectable: true,
        selectHelper: true,
        
        select: function(info) {
            start = info.startStr;
            end = info.endStr;
            var weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
            var event = {
              start: info.startStr,
              end: info.endStr, 
            };
            calendar.addEvent(event);
            console.log("Great: now update your database!");
            console.log(calendar.getEvents());
            
        },
        eventClick: function(info){
          info.event.remove();
        }
    });
    calendar.render();
  });

  $('.submitCalendar').click(function (){ 
      console.log("submitted: test");
      if(calendar){
        var weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        function iterate(event){
          var startDate = event.start;
          var endDate = event.end;
          if(startDate.getDay()==endDate.getDay()){
            freeTime.push({
              'weekday' : weekdays[endDate.getDay()],
              'start' : startDate.toString().split(" ")[4],
              'end' : endDate.toString().split(" ")[4]
            });
            //console.log(endDate.toString().split(" ")[4]);
          }else{
            freeTime.push({
              'weekday' : weekdays[startDate.getDay()],
              'start' : startDate.toString().split(" ")[4],
              'end' : "19:00:00"
            });
            freeTime.push({
              'weekday' : weekdays[endDate.getDay()],
              'start' : "08:00:00",
              'end' : endDate.toString().split(" ")[4],
            });
          }
        }
        calendar.getEvents().forEach(iterate);
      }
      console.log("form is submitted");
      submitArray = [];
      for(i=0; i<freeTime.length; i++){
        submitArray[i]=freeTime[i];
      }
      calendar.destroy();
      freeTime = [];
      //console.log(submitArray);
      $("#calendarForm").hide();
      document.getElementById("fullcalendar").value = JSON.stringify(submitArray);
      var list = document.getElementById("fullcalendar").value;
      console.log(JSON.parse(list));
      console.log(submitArray);
    });
    
})


</script>