
<body class='view4'>
  <div class='container profile-container' >

    <% if !flash[:alert].nil? %>
    
      <div class="alert alert-danger" role="alert">    
        <% errors = flash[:alert] %>
        <strong><%= pluralize(flash[:count], "error") %> prohibited this preference from being saved:</strong>
        <br>
        <ul>
          <% errors.each do |type, message| %>
            <% message.each do |error|%>
              <li> <%= error %> </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      
    <% end %>
   

    <div class= 'signup-form'>

    <div class='container' id='new-preference-container-1' >
    <h5 class='preference-title'> Create Preference for: <span><%= @course.name %></span> </h5>
    <div class="row">
      <div class="column preference-form-column" >
        <%= form_with(model: @preference, local: true)do |f| %>
            <div class="alert alert-danger d-none">Please review the problems below:</div>
            <%= f.label 'First Choice: '%> <sup>*</sup>
            <%= f.collection_select :first, @projects.order(:project_name), :id, :project_name, {:include_blank=> true}, {:style => "width:250px; float:right"} %>
            <br><br>
            <%= f.label 'Second Choice: '%> <sup>*</sup>
            <%= f.collection_select :second, @projects.order(:project_name), :id, :project_name, {:include_blank=> true}, {:style => "width:250px; float:right"} %>
            <br><br>
            <%= f.label 'Third Choice: '%> <sup>*</sup>
            <%= f.collection_select :third, @projects.order(:project_name), :id, :project_name, {:include_blank=> true}, {:style => "width:250px; float:right"} %>
            <br><br>
            <%= f.label 'Coding Proficiency:' %> <sup>*</sup>
            
            <%= f.collection_radio_buttons :codingProficiency, [[1,1],[2,2],[3,3],[4,4],[5,5]], :first, :last, { item_wrapper_tag: false },{:style=>"
            margin-left: 20px; margin-right:5px"}%>
            <br><br>
            <%= f.label 'Dream Partner'%>
            <%= f.collection_select :dreampartner, @course.students.order(firstname: :asc, lastname: :asc), :id, :full_name, {:include_blank=> true}, {:style => "width:250px; float:right"}%>


            <br><br>
            <%= f.label 'Select Your Prefered Time for Group Meeting'%> <sup>*</sup>
            


            <div class="field">
  
              <table class="table table-condensed">

              <thead>
              <tr>
                <th></th>
                <th>Day</th>
                <th>Night</th>
              </tr>
              </thead>

                <tbody>
                  <tr>
                    <td>Monday </td>
                    <td> <%= f.check_box :mondayD %> </td>
                    <td><%= f.check_box :mondayN %> </td>
                  </tr>
                  <tr>
                    <td>Tueday </td>
                    <td> <%= f.check_box :tuesdayD %> </td>
                    <td><%= f.check_box :tuesdayN %> </td>
                  </tr>
                  <tr>
                    <td>Wednesday </td>
                    <td> <%= f.check_box :wednesdayD %> </td>
                    <td><%= f.check_box :wednesdayN %> </td>
                  </tr>
                  <tr>
                    <td>Thursday </td>
                    <td> <%= f.check_box :thursdayD %> </td>
                    <td><%= f.check_box :thursdayN %> </td>
                  </tr>
                  <tr>
                    <td>Friday </td>
                    <td> <%= f.check_box :fridayD %> </td>
                    <td><%= f.check_box :fridayN %> </td>
                  </tr>
                  <tr>
                    <td>Saturday </td>
                    <td> <%= f.check_box :saturdayD %> </td>
                    <td><%= f.check_box :saturdayN %> </td>
                  </tr>
                  <tr>
                    <td>Sunday </td>
                    <td> <%= f.check_box :sundayD %> </td>
                    <td><%= f.check_box :sundayN %> </td>
                  </tr>
                </tbody>
              </table>
              

            </div>


       
            
            


            <!--  <%= f.search_field :schedule, class:"form-control showCalendar", id:"fullcalendar"%>
            </div>
            testing
            <div class="container m-t-20">
                <div id="outline">
                  <div id = 'calendarForm'>
                    <div id = 'calendar'></div>
                    <div class='btn btn-primary submitCalendar'> submit calendar </div>
                  </div>
                </div>
            </div>
            -->
             


            <%= f.hidden_field :student_id, :value => current_user.id%>
            <%= f.hidden_field :course_id, :value => @course.id%>

            <div class="preference-button-row" >
              <%= submit_tag("Submit", class: "btn btn-primary submitButton") %>
              <button class="btn btn-outline-primary addButton" type="reset">Reset</button>
            </div>
          </div>   
        <% end %>
        <%= link_to 'Back to Course Page', @course , class:"preference-back"%>
      </div>
    
    </div>
    </div>

    </div>
  </div>
</body>
  
<script>


</script>