<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

<div class='view4'>
  <div class='container' style="padding-top: 30px">
  <% flash.each do |type, msg| %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
  <% end %>
    <div class='container' id='body-container-course-show'>
    <div class='page-wrap'>
      <div class='row profile-row'>
        <div class='col' style='padding: 40px; padding-bottom: 20px; padding-top:40px'>
          <p>
            <strong>Name:</strong>
            <%= @course.name %>
          </p>

          <p>
            <strong>Pin:</strong>
            <%= @course.pin %>
          </p>

          <p>
            <strong>Professor:</strong>
            <% professor = @course.professor %>
            <%= professor.firstname + ' '+ professor.lastname  %>
          </p>
        </div>

        <% if current_user_type == "professor" && @professor_id == current_user.id%>
          <% create_groups_path = @course.id.to_s+ "/create_groups" %>
          <div class='col' style='padding: 40px'>
            <%= button_to 'Create Random Groups', {:controller => "courses", :action => "create_groups", :algo => "random"}, :class => "btn btn-outline-primary addButton", :method=>:post%>
            <br>
            <%= button_to 'Create Groups Based on Project Preference', {:controller => "courses", :action => "create_groups", :algo => "project_only"}, :class => "btn btn-outline-primary addButton", :method=>:post%>
            <br>
            <button class="btn btn-outline-primary addButton" data-toggle="modal" data-target="#professor-preference-form">
              Create Groups Based on All Preference
            </button>
          </div>

            <div class="modal fade" id="professor-preference-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="padding-left: 30px">
                  <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel">Create Your Preference for: <span style="color:rgb(77, 131, 203)"><%= @course.name %></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                
                  <div class="modal-body">
                      <%= form_with(url: create_groups_course_path, local: true) do |f| %>
                        <%= hidden_field_tag :algo, 'holistic'%>
                        <div class="alert alert-danger d-none">Please review the problems below:</div>
                       
                        <label style="margin-right: 35px;font-size:22px;"><%= f.label 'How important are student\'s preference on project choices? '%> </label>
                        <%= f.collection_radio_buttons :projectWeight, [[1,1],[2,2],[3,3],[4,4],[5,5]], :first, :last, { item_wrapper_tag: false },{:style=>"
                        margin-left: 24px; margin-right:5px;"}%>
                        very important<br>
                        <hr size="10">
                        <label style="margin-right: 3px;font-size:22px;"><%= f.label 'Do you want each team to have various level of coding proficiencies?' %></label>
                        <%= f.collection_radio_buttons :codingWeight, [[1,1],[2,2],[3,3],[4,4],[5,5]], :first, :last, { item_wrapper_tag: false },{:style=>"
                        margin-left: 24px; margin-right:5px"}%>
                        As diverse as possible<br><hr size="10">
                        <label style="margin-right: 33px;font-size:22px;"><%= f.label 'How important are student\'s preference on their partner choice?'%></label>
                        <%= f.collection_radio_buttons :partnerWeight, [[1,1],[2,2],[3,3],[4,4],[5,5]], :first, :last, { item_wrapper_tag: false },{:style=>"
                        margin-left: 24px; margin-right:5px"}%>
                        very important<br><hr size="10">
                        <label style="margin-right: 68px;font-size:22px;"><%= f.label 'How important that the team members will have more than 2 hours/week avaiable meeting-time?'%></label>
                        <%= f.collection_radio_buttons :scheduleWeight, [[1,1],[2,2],[3,3],[4,4],[5,5]], :first, :last, { item_wrapper_tag: false },{:style=>"
                        margin-left: 24px; margin-right:5px"}%> very important
                        <div class="modal-footer border-top-0 d-flex justify-content-center">
                          <div style="margin-left: 80px; margin-bottom: 50px ">
                            <%= f.submit("Submit and Create Group", class: "btn btn-outline-primary addButton") %>
                            <button class="btn btn-primary resetButton" type="reset">Reset</button>
                          </div>
                        </div>
                      <%end%>
                    </div>
                  </div>
                </div>
              </div>
            </div>


        <% elsif current_user_type == "student" %>
          <div class='col' style='padding: 60px;'>
            <%= link_to new_preference_path(course: @course) do %>
              <button class="btn btn-outline-primary addButton"></i> Create Preference</button>
            <% end %>
          </div>
        <% end %>
      </div>

      <hr/>

      <div class='row' id='course-info-box'>
        <div class='col' id='course-info-col' style="padding: 40px; padding-top: 20px; ">
          <ul class="nav nav-tabs" id="course-nav">
            <li class="nav-item">
              <a href="#students" class="nav-link tab-students active" data-toggle="tab" >Students</a>
            </li>
            <li class="nav-item">
              <a href="#projects" class="nav-link tab-projects" data-toggle="tab" >Projects</a>
            </li>

            <li class="nav-item">
              <a href="#groups" class="nav-link tab-groups" data-toggle="tab" >Groups</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="students">
              <% group_members = @course.students%>
              <div class = "wrapper overflow students-container">
                  <table class = "table table-hover table-sm" id="students-table">
                      <thead>
                          <tr>
                              <th style='border-top: 0'>Name</th>
                              <th style='border-top: 0'>Email</th>
                          </tr>
                      </thead>
                      <tbody>
                          <% group_members.each do |stu| %>
                          <tr>
                              <td><%= stu.firstname + " " + stu.lastname%>
                              <td><%= stu.email%>
                          </tr>
                          <% end %>
                      </tbody>
                  </table>
              </div>
            </div>
 
            <div class="tab-pane fade" id="projects">
              <%= @groups.inspect%>
              <% if current_user_type == "professor" && @professor_id == current_user.id%>
                <%= tag.div id: :boards, data:{groups: @course.groups.to_json, holdprojects: @course.holdprojects.to_json, course: @course.to_json } %>
              <% else %>
                
                <%= tag.div id: :stuboards, data:{groups: @course.groups.to_json, course:@course.to_json, student: Student.find(current_user.id).to_json, taking: Taking.find_by(student_id:current_user.id, course_id:@course.id).to_json}%>

              <%end%>
            </div>
            
            <div class="tab-pane fade" id="groups">
              <div class = "row" id="course-group-info-row" >   
                <% if @course.students.size==0 %>
                  <h6>No Student Enrolled</h6>
                <% elsif findGroup(@course.students[0], @course).nil? %>
                  <h6>Not Yet Created Group</h6>
                <% else %>
                  <% @course.groups.each do |group| %>
                    <div class="container course-group-box">
                    <p style="margin-top: 20px; margin-left: 6px"> <%= group.project_name %> </p>                  
                      <div>
                        <% group_members = group.students%>
                        <div class = "wrapper overflow course-group-container">
                            <table class = "table table-hover table-sm" id="member-table">
                                <thead>
                                    <tr>
                                        <th style='border-top: 0'>Name</th>
                                        <th style='border-top: 0'>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% group_members.each do |stu| %>
                                    <tr>
                                        <td><%= stu.firstname + " " + stu.lastname%>
                                        <td><%= stu.email%>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                      </div>
                    </div>
                  <%end%>
                <%end%>
              </div>
            </div>
         
          </div> 
          <%= link_to 'Back to Profile Page', courses_path, style: "float: right; margin:right: 5px; margin-top: 10px" %> 
        </div>
              
      </div>

      <%= link_to 'Edit', edit_course_path(@course) %> 

    </div>

    </div>
  </div>
</div>



<script>
    document.addEventListener("turbolinks:load", function(){
            var table = $('#students-table');
            if(! $.fn.DataTable.isDataTable(table)){
                table.DataTable({
                "lengthChange": false, 
                "pageLength": 10,
                });
            }
    });
    
     document.addEventListener("turbolinks:load", function(){
        
        var element = document.querySelector('#boards');
        
        if(element != undefined){
          const app = new Vue({
          el: element,
          data: {
              groups: JSON.parse(element.dataset.groups),
              holdprojects: JSON.parse(element.dataset.holdprojects),
              course: JSON.parse(element.dataset.course)
              
          },
          template: "<App :group_list='groups' :hold_list='holdprojects' :curr_course='course' />",
          components: { App }
          });
        }
      
     });

    document.addEventListener("turbolinks:load", function(){
        
        var element = document.querySelector('#stuboards');
        console.log(element.dataset.taking)
        if(element != undefined){
          const stuapp = new Vue({
          el: element,
          data: {
              groups: JSON.parse(element.dataset.groups),
              course: JSON.parse(element.dataset.course),
              student: JSON.parse(element.dataset.student), 
              taking: JSON.parse(element.dataset.taking),

          },
          template: "<stuApp :group_list='groups' :curr_course='course' :curr_student='student' :curr_taking='taking' />",
          components: { stuApp }
          });
          
        }
      
     });



</script>