<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

<div class='view4'>
  <div class='container' style="padding-top: 30px">
    <p id="notice"><%= notice %></p>
    <div class='container' id='body-container-course-show'>
    <div class='page-wrap'>
      <div class='row profile-row'>
        <div class='col' style='padding: 40px; padding-bottom: 20px; padding-top:40px'>
          <p>
            <strong>Name:</strong>
            <%= @course.name %>
          </p>

          <p>
            <strong>Pin:</strong>
            <%= @course.pin %>
          </p>

          <p>
            <strong>Professor:</strong>
            <% professor = @course.professor %>
            <%= professor.firstname + ' '+ professor.lastname  %>
          </p>
        </div>

        <% if current_user_type == "professor" && @professor_id == current_user.id%>
          <% create_groups_path = @course.id.to_s+ "/create_groups" %>
          <div class='col' style='padding: 40px'>
            <%= button_to 'Create Random Groups', {:controller => "courses", :action => "create_groups", :algo => "random"}, :class => "btn btn-outline-primary addButton", :method=>:post%>
            <br>
            <%= button_to 'Create Groups Based on Project Preference', {:controller => "courses", :action => "create_groups", :algo => "project_only"}, :class => "btn btn-outline-primary addButton", :method=>:post%>
            <br>
            <button class="btn btn-outline-primary addButton" data-toggle="modal" data-target="#professor-preference-form">
              Create Groups Based on All Preference
            </button>
          </div>

          

        <% elsif current_user_type == "student" %>
          <div class='col' style='padding: 60px;'>
            <%= link_to new_preference_path(course: @course) do %>
              <button class="btn btn-outline-primary addButton"></i> Create Preference</button>
            <% end %>
          </div>
        <% end %>
      </div>

      <hr/>

      <div class='row' id='course-info-box'>
        <div class='col' id='course-info-col' style="padding: 40px; padding-top: 20px; ">
          <ul class="nav nav-tabs" id="course-nav">
            <li class="nav-item">
              <a href="#students" class="nav-link tab-students active" data-toggle="tab" >Students</a>
            </li>
            <li class="nav-item">
              <a href="#projects" class="nav-link tab-projects" data-toggle="tab" >Projects</a>
            </li>

            <li class="nav-item">
              <a href="#groups" class="nav-link tab-groups" data-toggle="tab" >Groups</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="students">
              <% group_members = @course.students%>
              <div class = "wrapper overflow students-container">
                  <table class = "table table-hover table-sm" id="students-table">
                      <thead>
                          <tr>
                              <th style='border-top: 0'>Name</th>
                              <th style='border-top: 0'>Email</th>
                          </tr>
                      </thead>
                      <tbody>
                          <% group_members.each do |stu| %>
                          <tr>
                              <td><%= stu.firstname + " " + stu.lastname%>
                              <td><%= stu.email%>
                          </tr>
                          <% end %>
                      </tbody>
                  </table>
              </div>
            </div>

            <div class="tab-pane fade" id="projects">
              <% @course.groups %>
              <%= tag.div id: :boards, data:{groups: @course.groups.to_json, holdprojects: @course.holdprojects.to_json, course: @course.to_json } %>
            </div>
            
            <div class="tab-pane fade" id="groups">
              <p>Messages tab groups ...</p>
            </div>
          
          </div> 
          <%= link_to 'Back to Profile Page', courses_path, style: "float: right; margin:right: 5px; margin-top: 10px" %> 
        </div>
              
      </div>

      <%= link_to 'Edit', edit_course_path(@course) %> |
      
    </div>

    </div>
  </div>
</div>

            <div class="modal fade" id="professor-preference-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="padding-left: 30px">
                  <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel">Create Your Preference for: <span style="color:rgb(77, 131, 203)"><%= @course.name %></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                
                  <div class="modal-body">
                      <%= form_with(url: professors_preference_path, local: true) do |f| %>
                      <div class="alert alert-danger d-none">Please review the problems below:</div>
                      <label style="margin-right: 50px"><%= f.label 'First Choice: '%> </label>
                      <%= f.collection_radio_buttons :firstWeight, [[1,1],[2,2],[3,3],[4,4],[5,5]], :first, :last, { item_wrapper_tag: false },{:style=>"
                      margin-left: 24px; margin-right:5px;"}%>
                      <br><br>
                      <label style="margin-right: 28px"><%= f.label 'Second Choice: '%></label>
                      <%= f.collection_radio_buttons :secondWeight, [[1,1],[2,2],[3,3],[4,4],[5,5]], :first, :last, { item_wrapper_tag: false },{:style=>"
                      margin-left: 24px; margin-right:5px"}%>
                      <br><br>
                       <label style="margin-right: 46px"><%= f.label 'Third Choice: '%></label>
                      <%= f.collection_radio_buttons :thirdWeight, [[1,1],[2,2],[3,3],[4,4],[5,5]], :first, :last, { item_wrapper_tag: false },{:style=>"
                      margin-left: 24px; margin-right:5px"}%>
                      <br><br>
                      <label style="margin-right: 3px"><%= f.label 'Coding Proficiency:' %></label>
                      <%= f.collection_radio_buttons :codingWeight, [[1,1],[2,2],[3,3],[4,4],[5,5]], :first, :last, { item_wrapper_tag: false },{:style=>"
                      margin-left: 24px; margin-right:5px"}%>
                      <br><br>
                      <label style="margin-right: 35px"><%= f.label 'Dream Partner:'%></label>
                      <%= f.collection_radio_buttons :partnerWeight, [[1,1],[2,2],[3,3],[4,4],[5,5]], :first, :last, { item_wrapper_tag: false },{:style=>"
                      margin-left: 24px; margin-right:5px"}%>
                      <br><br>
                      <label style="margin-right: 46px"><%= f.label 'Schedule:'%></label>
                      <%= f.collection_radio_buttons :scheduleWeight, [[1,1],[2,2],[3,3],[4,4],[5,5]], :first, :last, { item_wrapper_tag: false },{:style=>"
                      margin-left: 24px; margin-right:5px"}%> 
                  </div>
                  <div class="modal-footer border-top-0 d-flex justify-content-center">
                    <div style="margin-left: 120px; margin-bottom: 50px ">
                      <%= submit_tag("Submit and Create Group", class: "btn btn-outline-primary addButton") %>
                      <button class="btn btn-primary resetButton" type="reset">Reset</button>
                    </div>
                    <%end%>
                  </div>
                </div>
              </div>
            </div>

<script>
    document.addEventListener("turbolinks:load", function(){
            var table = $('#students-table');
            if(! $.fn.DataTable.isDataTable(table)){
                table.DataTable({
                "lengthChange": false, 
                "pageLength": 10,
                });
            }
    });
    
     document.addEventListener("turbolinks:load", function(){
        
        var element = document.querySelector('#boards');
        
        if(element != undefined){
          const app = new Vue({
          el: element,
          data: {
              groups: JSON.parse(element.dataset.groups),
              holdprojects: JSON.parse(element.dataset.holdprojects),
              course: JSON.parse(element.dataset.course)
              
          },
          template: "<App :group_list='groups' :hold_list='holdprojects' :curr_course='course' />",
          components: { App }
          });
        }
      
     });

</script>