<p id="notice"><%= notice %></p>
<div class='container' id='body-container-course-show'>
<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @course.pin %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @course.professor_id %>
</p>

<p> <strong> Students: </strong> </p>
<ul> <%=showStudents(@course.students)%></ul>

<p> <strong> Groups: </strong> </p>
<% @groups.each do |group| %>
  <ul> <%= group.project_name%>: <%=showGroups(@groups)[group.project_name]%></ul>
<% end %>

<% if current_user_type == "professor" && @professor_id == current_user.id%>
  <% create_groups_path = @course.id.to_s+ "/create_groups" %>
  <%= link_to 'Create Groups', create_groups_path%>
  <br> <br>
<%end%>

<%= link_to 'Propose project', new_group_path(course: @course)%>
<br>
<% if current_user_type == "student"%>
  <%= link_to 'Create preference', new_preference_path(course: @course)%>
<% end %>
<br> <br>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
</div>